@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --red: #ee3e3e;
  --red-transparent: rgba(255, 56, 56, 0.8);
  --white: #0d0d0d;
  --transition: 0.4s;
  --red-btn: #ff5454;
  --black-gradient-hover: linear-gradient(
    180deg,
    #dedede 0%,
    #cacaca 50.52%,
    rgba(210, 210, 210, 0.87) 100%
  );
  --black-gradient: linear-gradient(
    90deg,
    #dedede 0%,
    #cacaca 50.52%,
    rgba(210, 210, 210, 0.87) 100%
  );
}

.dark-mode {
  --red: #ee3e3e;
  --red-btn: #ff3a3a;
  --red-transparent: rgba(255, 56, 56, 0.8);
  --white: #fff;
  --transition: 0.4s;
  --black-gradient: linear-gradient(
    180deg,
    #2e2e2e 0%,
    #2c2c2c 50.52%,
    rgba(36, 36, 36, 0.87) 100%
  );
  --black-gradient-hover: linear-gradient(
    90deg,
    rgba(46, 46, 46, 1) 0%,
    rgba(44, 44, 44, 1) 49%,
    rgba(36, 36, 36, 1) 100%
  );
}

html {
  font-size: 30px;
}

body {
  background-color: var(--red);
  color: var(--white);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 11.1875rem;
  height: 24.375rem;
  background: var(--black-gradient);
  border-radius: 1rem;
  padding: 2.5em 1em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: var(--transition);
}

.calc-type {
  user-select: none;
  display: flex;
  justify-content: space-around;
  span {
    font-family: "DM Sans", sans-serif;
    font-size: 0.5rem;
    padding-bottom: 2px;
    position: relative;
    &:hover {
      cursor: pointer;
      &:before {
        content: "";
        position: absolute;
        width: 50%;
        height: 1px;
        bottom: 0;
        left: 25%;
        border-bottom: 0.093rem solid var(--red-btn);
      }
    }
  }
}

.display {
  font-size: 2rem;
  text-align: right;
  height: 3rem;
  margin-right: 0.3rem;
  margin-top: 1rem;
  .screen {
    font-size: 2rem;
  }
  .screen-small {
    font-size: 0.48rem;
  }
}

.animation {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}

@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.theme {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 0.3rem -1rem auto;
  input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--red-transparent);
    transition: var(--transition);
    border-radius: 60px;
    &::before {
      position: absolute;
      content: "";
      width: 26px;
      height: 26px;
      left: 4px;
      bottom: 4px;
      border-radius: 60px;
      background: var(--black-gradient);
      transition: var(--transition);
    }
  }
}

.buttons {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  align-items: center;
  .button {
    user-select: none;
    font-size: 1.35rem;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
    margin: 1px;
    &:hover {
      background: var(--black-gradient-hover);
    }
  }
  .equal {
    background: var(--red-btn);
    border-radius: 4px;
    box-shadow: 0px 47.3214px 47.3214px rgba(0, 0, 0, 0.19),
      0px 17.2731px 17.2731px rgba(0, 0, 0, 0.131096),
      0px 8.38577px 8.38577px rgba(0, 0, 0, 0.105695),
      0px 4.11086px 4.11086px rgba(0, 0, 0, 0.0843048),
      0px 1.62544px 1.62544px rgba(0, 0, 0, 0.0589035);
    &:hover {
      background: var(--red-btn);
      opacity: 0.8;
    }
  }
}

.active:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 25%;
  border-bottom: 0.093rem solid var(--red-btn);
}

.red {
  color: var(--red-btn);
  font-size: 1.43rem !important;
}

.wh-op {
  font-size: 1rem !important;
}

.divide {
  font-size: 0.9rem !important;
}
